name: php-sdk-generate
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout generator
        uses: actions/checkout@v4
        with:
          repository: aktuba/php-sdk-generator
          token: ${{ secrets.PHP_SDK_TOKEN }}

      - name: Checkout json schema
        uses: actions/checkout@v4
        with:
          fetch-depth: 1
          path: schema/

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: $PHP_VERSION
          extensions: mbstring, intl
          ini-values: post_max_size=256M, max_execution_time=180
          tools: composer:v2
        env:
          fail-fast: true

      - name: Create .env file
        run: |
          echo ${NAME}
          echo ${{NAME}}
          echo ${{ env.NAME }}
          touch .env
          echo NAME=$NAME >> .env
          echo DESCRIPTION=$DESCRIPTION >> .env
          echo LICENSE=$LICENSE >> .env
          echo PHP_VERSION=$PHP_VERSION >> .env
          echo USER_AGENT=$USER_AGENT >> .env
          echo SCHEMA_DIRECTORY="schema/" >> .env
          echo SDK_REPO=$SDK_REPO >> .env
          echo HOMEPAGE=$HOMEPAGE >> .env
          echo LOG_FORMAT=$LOG_FORMAT >> .env
          cat .env

      - name: Run generator
        run: |
          ls -la
          composer install
          composer sdk:build

      - name: Prepare php-sdk
        uses: actions/checkout@v4
        with:
          fetch-depth: 1
          repository: $SDK_REPO
          path: php-sdk
          token: ${{ secrets.PHP_SDK_TOKEN }}

      - name: Run generator
        run: |
          cd php-sdk
          find . -path ./.git -prune -o -exec rm -rf {} \; 2> /dev/null
          cp -r ../generated/* .
          git add .
          git config --global user.name "GitHub Actions"
          git config --global user.email "<>"
          git push
